html, body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    
}
body {
    background-image: url("/attēli/xmas-2928142_1280.jpg");
    background-size: cover;
    color: bisque;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

h1 {
    font-size: 62px;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: F5624D;
    
  }
h2 {
    font-size: 2.5em;
    border-left: solid 3px white;
    padding-left: 1em;
}
  
.header{
    padding: 0.2em;
    margin: 0 auto;
    
}

.main{ 
    margin-left: 4em;
    height: 60%;
    padding-top: 3em;
    flex: 1;   
}

.main p {
    font-size: 1.5em;
    line-height: 1.9;
    border-left: solid 3px white;
    padding: 1em;
}
.main p span {
    color: #CC231E;
    font-size: 1.7em;
}
.footer{
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgba(64, 64, 64, 0.8); 
    flex: 0;  
}


.topnav {
    overflow: hidden;
    background-color: #600;
  }
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #900;
  }
  
.topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
.topnav .icon {
    display: none;
  }
  
@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
@media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
.topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


  @media screen and (max-width: 700px) {
    h1{
        font-size: 50px;
    }
    h2 {
        font-size: 1.7em;
    }
    .main p {
        font-size: 1.2em;
        line-height: 1.2;
    }
    .main p span {
        font-size: 1.4em;
    }

  }