html, body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    
}
body {
    background-image: url("/attēli/christmas-1911637_1920.jpg");
    background-size: cover;
    color: bisque;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

h1 {
    font-size: 62px;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #600;
    
  }
h2 {
    font-size: 2.5em;
    border-left: solid 3px white;
    padding-left: 1em;
}
  
.header{
    padding: 0.2em;
    margin: 0 auto;
    
}


.footer{
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgba(64, 64, 64, 0.8); 
    
}

.topnav {
    overflow: hidden;
    background-color: #600;
    margin-bottom: 10px;
  }
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #900;
  }
  
.topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
.topnav .icon {
    display: none;
  }
  
@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
@media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
.topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


/*Priekš galda sadaļas css */

.food-galery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.food-card {
    padding: 1em;
    border-radius: 0.7rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(3, 166, 95, 0.8);
    text-align: center;
}
.food-name {
    width: 180px;
    margin-top: 1em;
    align-items: center;
    text-transform: uppercase;
    
}
.food-saying {
    align-items: center;
    width: 180px;
}

.food-img {
    width: 200px;
    height: 200px;
    border-radius: 0.7rem;
}
.food-saying {
    cursor: pointer;
}
.food-saying:hover {
    font-size: 1.1em;
}
.hidden {
    display: none;
}

.saying {
    color:yellow;;
}


@media screen and (max-width: 700px) {
    h1{
    font-size: 50px;
    
    color: snow;
    }
}